services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      - APP_APPLICATION__ENVIRONMENT
      - APP_APPLICATION__PORT
      - APP_APPLICATION__HOST
      - APP_DATABASE__HOST
      - APP_DATABASE__PORT
      - APP_DATABASE__USERNAME
      - APP_DATABASE__PASSWORD
      - APP_DATABASE__NAME
      - APP_DATABASE__REQUIRE_SSL

    ports:
      - "8000:8000"
    restart: unless-stopped

  db:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    shm_size: 128mb
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
