services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - db
    environment:
      - APP__APPLICATION__ENVIRONMENT
      - APP__APPLICATION__PORT
      - APP__APPLICATION__HOST
      - APP__DATABASE__HOST
      - APP__DATABASE__PORT
      - APP__DATABASE__USERNAME
      - APP__DATABASE__PASSWORD
      - APP__DATABASE__NAME
      - APP__DATABASE__REQUIRE_SSL

    ports:
      - "8000:8000"
    restart: unless-stopped

  db:
    image: postgres:16
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    shm_size: 128mb
    volumes:
      - postgres:/var/lib/postgresql/data

volumes:
  postgres:
